<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.review_board.ereviewboard.ui.scmFileContentsLocator">
     	<scmFileContentsLocator class="org.review_board.ereviewboard.egit.core.internal.actions.EGitSCMFileContentsLocator">
     </scmFileContentsLocator>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.review_board.ereviewboard.egit.ui.projectContributions"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.review_board.ereviewboard.internal.actions.CreateReviewRequestAction"
               icon="icons/reviewboard-icon.png"
               id="org.review_board.ereviewboard.egit.ui.StartReview"
               label="Create Review Request"
               menubarPath="team.main/group1">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.review_board.ereviewboard.ui.taskDiffActions">
      <taskDiffAction
            class="org.review_board.ereviewboard.internal.actions.UpdateReviewRequestAction"
            id="org.review_board.ereviewboard.egit.ui.updateDiff"
            label="Update Diff">
      </taskDiffAction>
      <taskDiffAction
            class="org.review_board.ereviewboard.internal.actions.ApplyDiffAction"
            id="org.review_board.ereviewboard.egit.ui.applyDiff"
            label="Apply Diff">
      </taskDiffAction>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.egit.ui.RepositoriesView?after=branch">
         <separator
               name="org.review_board.ereviewboard.egit.ui.review"
               visible="true">
         </separator>
         <command
               commandId="org.review_board.ereviewboard.internal.egit.CreateReviewRequestAction"
               icon="icons/reviewboard-icon.png"
               label="Create Review Request"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.egit.ui.internal.repository.tree.RefNode">
                        </instanceof>
                        <not>
                           <test
                                 property="GitRepository.isBare">
                           </test>
                        </not>
                        <test
                              property="GitRepository.isLocalBranch">
                        </test>
                     </and>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.review_board.ereviewboard.internal.egit.CreateReviewRequestActionHandler"
            commandId="org.review_board.ereviewboard.internal.egit.CreateReviewRequestAction">
         <class
               class="org.review_board.ereviewboard.internal.egit.CreateReviewRequestActionHandler">
         </class>
   org.review_board.ereviewboard.internal.egit.CreateReviewRequestActionHandler   </handler>
   </extension>
</plugin>
